<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

		<title>Portfolio</title>
	</head>
	<body>
		<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

		<title>Portfolio</title>
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Latifah's Portfolio</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <a class="nav-link active" href="home.html">Home <span class="sr-only">(current)</span></a>
                <a class="nav-link" href="portfolio.html">Portfolio</a>
                <a class="nav-link" href="contact.html">Contact</a>
              </div>
            </div>
          </nav>
          <br>
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Latifah Lillie's Contact Information</h5>
              <p class="card-text">You can reach me at this email address: queen1892@gmail.com or by clicking this link to my Linkedin Account!</p>
              <a href="http://www.linkedin.com/in/latifah-lillie" class="btn btn-primary">Linkedin</a>
    
            </div>
          </div>
          <br>
          <div class="card">
            <div class="card-header">
              A Thoughtful Quote
            </div>
            <div class="card-body">
              <blockquote class="blockquote mb-0">
                <p>“I've learned that you shouldn't go through life with a catcher's mitt on both hands; you need to be able to throw something back.”</p>
                <footer class="blockquote-footer">Maya Angelou <cite title="Source Title"></cite></footer>
              </blockquote>
            </div>
          </div>
          <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
	</body>
</html>
         
	</body>
</html>