<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/style.css" />
		<title>Portfolio</title>
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Latifah Portfolio</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
              </div>
            </div>
          </nav>  
          <div class="jumbotron jumbotron-fluid">
            <div class="container">
              <h1 class="display-4">Latifah Lillie</h1>
              <p class="lead">Hello Everyone, I am a programmer and I'm seeking a position as a full-time software engineer. On this website, I have shared a couple of projects that I have completed within the past two months.</p>
            </div>
          </div>
          <br>
          <div class="card">
            <div class="card-header">
              Game Generator
            </div>
            <div class="card-body">
              <h5 class="card-title">First Independent Project</h5>
              <p class="card-text">In this project, I created a Game Generator that will generate a game based on the year a user enter's. The technology that I used were HTML, JQuery, and a third party API named Board Game Atlas.</p>
              <a href="https://swefuture20.github.io/Game-Generator/" class="btn btn-primary">Game-Generator</a>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              Instructional Node JS
            </div>
            <div class="card-body">
              <h5 class="card-title">Explained Code</h5>
              <p class="card-text">In this project, I had to test my knowledge and skills with explaining the code that I had written. This was the first time that I had used node and install dependencies such as inquirer. It was the beginning of learning on how to code on the backend.</p>
              <a href="https://drive.google.com/file/d/1qjSTUUAZ66wpI_wj1160uiJl0tW8m1It/view" class="btn btn-primary">Instructional Node JS</a>
            </div>
          </div>
      <div class="card">
        <div class="card-header">
          Basket of Puppies
        </div>
        <div class="card-body">
          <h5 class="card-title">Group Project</h5>
          <p class="card-text">In this project, I had the pleasure of work with three additional people, Wendi Freedman, Elan Zinkow, and Jordan Behn. I was a part of the front-end team but I focused on the login authentication with passport, bcrypt, express-session, and etc. I created a table for Users to store their user name and hashed password with sequelize and GET and POST routes for users to register and login. This project was successful and I'm proud of the team because we deployed the app to heroku.</p>
          <a href="https://basket-of-puppies.herokuapp.com/" class="btn btn-primary">Basket-Of Puppies</a>
        </div>
      </div>
      <br>
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Latifah Lillie's Contact Information</h5>
              <p class="card-text">You can reach me at this email address: queen1892@gmail.com or by clicking this link to my Linkedin Account!</p>
              <a href="http://www.linkedin.com/in/latifah-lillie" class="btn btn-primary">Linkedin</a>
            </div>
          </div>
          <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
          <script type="text/javascript" src="../js/portfolio.js"></script>
        </body>
</html>